repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: python
      additional_dependencies: ["pylint>=4.0.2,<5.0.0"]
      types: [python]
      require_serial: true